<navbar></navbar>
<div class="container">
    <h1>Поиск и обзоры автомобилей</h1>
    <div class="cardline">
        <div class="card" *ngFor="let announcement of announcements" routerLink="/announcement/{{announcement.id}}">

            <img src="{{announcement.photos[0].url}}" alt="фото автомобиля">

            <p class="name">{{announcement.car.manufacturer}} {{announcement.car.model}} {{announcement.car.generation}}
            </p>
            <p class="price">{{announcement.price}}₽</p>
        </div>
    </div>
    <div class="cardline"></div>
</div>
<app-footer></app-footer>