.container {
    margin: 20px 5%;
    padding: 10px;
    width: calc(90% - 20px);
    height: calc(100vh - 120px);
    background-color: #f1ecec;
    border-radius: 10px;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
}

.card-container {
    width: 70%;
    height: 100%;
    overflow: auto;
}

.filter-container {
    width: 30%;
    height: 100%;
    overflow-y: auto;
}

.card {
    margin: 0px 5% 5px 5%;
    width: 90%;
    height: 30%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    display: flex;
}

.card img {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card .left {
    margin: 10px;
    width: calc(30% - 20px);
    height: calc(100% - 20px);
}

.card .right{
    margin: 10px;
    width: calc(30% - 20px);
    height: calc(100% - 20px);
}

.card .left .name {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.card .normal {
    padding: 10px;
    font-size: 16px;
}

.filter {
    width: calc(100% - 2px);
    border: 1px solid #4C2C72;
}

.filter > p {
    width: calc(100% - 40px); 
    padding: 20px;
    font-size: 20px;
    color: #f1ecec;
    background: #4C2C72;
}

.filter-item {
    display: flex;
    line-height: 40px;
    margin-left: 10px;
}

.filter-item p {
    margin-left: 10px;
    font-size: 20px;
}

.search-button {
    margin: 10px 5%;
    height: 50px;
    width: 40%;
    background-color: #9D9CCF;
    color: #f1ecec;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.search-button:hover {
    background-color: #8c8bc5;
}