<div class="placeholder"></div>
<nav>
    <ul>
        <li class="img-box"><img src="assets/logo.png" alt="Лого"/></li>
        <li><a>Главная</a></li>                      
        <li><a>Легковые</a>
            <ul>
                <li><a>Седаны</a></li>
                <li><a>Хэтчбеки</a></li>
                <li><a>Универсалы</a></li>
                <li><a>Внедорожники</a></li>
            </ul>

        </li>
        <li><a >Коммерческие </a>
            <ul>
                <li><a>Фургоны</a></li>
                <li><a>Грузовики</a></li>
                <li><a>Тягачи</a></li>
            </ul>

        </li>
        <!-- <li><a>Обзоры</a></li>  -->
        <li style="float: right;"><a>Разместить объявление</a></li>
    </ul>
</nav>