<navbar></navbar>
<div class="container" *ngIf="announcement">
    <div class="left-container">
        <div class="main-img-box">
            <img src="{{announcement.photos[0].url}}" (click) = "current = 0">
        </div>
        <div class="img-line">
            <div class="img-box">
                <img src="{{announcement.photos[1].url}}" (click) = "current = 1">
            </div>
            <div class="img-box">
                <img src="{{announcement.photos[2].url}}" (click) = "current = 2">
            </div>
            <div class="img-box more" (click) = "current = 0">Смотреть еще фото</div>
        </div>
    </div>

    <div class="right-container">
        <p class="name">{{announcement.car.manufacturer}} {{announcement.car.model}} {{announcement.car.generation}}</p>
        <p class="normal">Кузов : {{announcement.car.bodyType}}</p>
        <p class="normal">Привод : {{announcement.car.drive}}</p>
        <p class="normal">Двигатель : {{announcement.car.engine}}</p>
        <p class="normal">Цвет : {{announcement.color}}</p>
        <p class="normal">Год выпуска : {{announcement.yearOfManufacture}}</p>
        <p class="normal">Пробег : {{announcement.mileage}}</p>
        <p class="normal">Цена : {{announcement.price}}</p>
        <p class="normal">Описание : {{announcement.sellerDescription}}</p>
    </div>

    <div class="overlay" *ngIf ="current != -1">
        <button id = "button_left" (click) = "left()">
            ⇚
        </button>
        <div class="popup-img-block">
            <img src="{{announcement.photos[current].url}}">
        </div>
        <button id = "button_right" (click) = "right()">
            ⇛
        </button>
        <input type="button" value="x" id = "exit_button" (click) = "exit()">
    </div>

</div>

